PGHOST=localhost
PGUSER=campaigns_user
PGPASS=mysecretpostgrespassword
PGDATABASE=campaigns
MAILCHIMPAPIUSER=mymailchimpuser
MAILCHIMPAPIKEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-us8
MAILCHIMPAPILOCATION=us8
MAILCHIMPLISTID=xxxxxxxxxx
